<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h3 class="col-8 offset-2">Login on WanderLust</h3>
  <div class="col-6 offset-2">
    <form action="/login" method="POST" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="username" class="form-lable">Username</label>
            <input class="form-control" type="text" id="username" name="username" required />
            <div class="invalid-feedback">username should be require</div>
          </div>
      
        <div class="mb-3">
            <label for="password" class="form-lable">Password</label>
            <input class="form-control" type="password" id="password" name="password" required />
            <div class="invalid-feedback">password should be require</div>
          </div>
          <button class="btn btn-success">Login</button>
    </form>
  </div>
</div>
